.movie_detail {
    display: flex;
    width: 100%;
}

.movie_detail_data {
    padding-right: 30px;
    width: 50%;
}

.movie_detail_trailer {
    width: 50rem;
}

.movie_detail_data hr {
    margin: 20px 0px;
}

.backdrop_path_img {
    width: 100%;
    height: auto;
}

.movie_detail h1,
.movie_detail h2,
.movie_detail h3 {
    color: #fff;
}